html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

header {
  text-align: center;
  background: url('img/background_red.jpg');
  background-size: cover;
  color: #ccc;
}
a {
  color: white;
  text-decoration: none;
}
h1 {
  font-size: 70px;
}
img {
  height: 150px;
  width: 150px;
  margin: 40px 0px 0px 0px;
  border: 7px solid red;
  border-radius: 20px;
}
ul {
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
}
li {
  display: inline;
  padding: 0px 10px 0px 10px;
}
article {
  max-width: 500px;
  padding: 20px;
  margin: 0 auto;
}
@media (max-width: 500px) {
  h1 {
    font-size: 36px;
    padding: 5px;
  }
  li {
    padding: 5px;
    display: block;
  }
}
